@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400");
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400i");
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300");
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css?family=Roboto:700");
}